<div class="container">
  <h1 class="titulo">Cadastrar Exame</h1>

  <form
    class="formulario"
    [formGroup]="formularioDeExame"
    (keydown)="onKeyDown($event)"
    (ngSubmit)="cadastrarExame()"
  >
    <div class="linha">
      <div class="input-box">
        <label for="exame">Exame:</label>
        <input type="text" id="exame" formControlName="exame" />
      </div>

      <div class="input-box">
        <label for="pacienteNome">Paciente:</label>
        <input type="text" id="pacienteNome" formControlName="pacienteNome" [(ngModel)]="pacientePassado.nome"/>
      </div>


    </div>

    <div class="linha">
      <div class="input-box">
        <div class="parametros-selecao-caixa">
          <label for="local">Local:</label>
          <select
            name="local"
            id="local"
            formControlName="local"
            [(ngModel)]="localSelecionado"
          >
          <option selected [ngValue]="null" disabled>Selecione</option>
            <option *ngFor="let local of listaLocais" [ngValue]="local.id">
              {{ local.nomeLocal }}
            </option>
          </select>
        </div>
      </div>

    </div>

    <div class="input-box">
      <div class="parametros-selecao-caixa">
        <label for="atendente">Atendente:</label>
        <select
          name="atendente"
          id="atendente"
          formControlName="atendente"
          [(ngModel)]="atendenteSelecionado"
        >
          <option selected  value="" >>Selecione></option>
          <option
            *ngFor="let atendente of listaAtendentes"
            [value]="atendente.id"
          >
            {{ atendente.nome }}
          </option>
        </select>
      </div>
    </div>

    <div class="input-box">
      <div class="parametros-selecao-caixa">
        <label for="medicoAtendente">Médico Atendente:</label>
        <select
          name="medicoAtendente"
          id="medicoAtendente"
          formControlName="medicoAtendente"
          [(ngModel)]="medicoSelecionado"
        >
          <option selected value="">>Selecione></option>
          <option *ngFor="let medico of listaMedicos" [value]="medico?.id">
            {{ medico.nome }} |
          </option>
        </select>
      </div>

    </div>

    <div class="input-box">
      <label for="valorExame">Valor do Exame:</label>
      <input type="text" id="valorExame" formControlName="valorExame" />
    </div>

    <div class="input-box">
      <label for="observacaoExame">Observação:</label>
      <input
        type="text"
        id="observacaoExame"
        formControlName="observacaoExame"
      />
    </div>

    <div class="cadastrar-box">
      <button type="submit">Cadastrar</button>
    </div>
  </form>
</div>

<div>{{ formularioDeExame.value | json }}</div>
<div>{{ formularioDeExame.valid | json }}</div>
