<div class="container">
  <h1 class="titulo">Cadastrar Exame</h1>

  <form
    class="formulario"
    [formGroup]="formularioDeExame"
    (keydown)="onKeyDown($event)"
    (ngSubmit)="cadastrarExame()"
  >
    <div class="linha">
      <div class="input-box">
        <label for="exame">Exame:</label>
        <input type="text" id="exame" formControlName="exame" />
      </div>
      <div class="input-box">
        <label for="valorExame">Valor do Exame:</label>
        <input type="text" id="valorExame" formControlName="valorExame" />
      </div>
    </div>

    <div class="linha">
      <div class="input-box">
        <div class="parametros-selecao-caixa">
          <label for="local">Local:</label>
          <select
            name="locais[]"
            id="locais"
            formControlName="local"
            [(ngModel)]="localSelecionado"
          >
            <option value="">>Selecione></option>
            <!-- Opção padrão -->
            <option *ngFor="let local of listaLocais" [value]="local.id">
              {{ local.nomeLocal }}
            </option>
          </select>
        </div>
      </div>

      <div class="input-box">
        <label for="indicacao">Indicação:</label>
        <input type="text" id="indicacao" formControlName="indicacao" />
      </div>
    </div>

    <div class="input-box">
      <div class="parametros-selecao-caixa">
        <label for="atendente">Atendente:</label>
        <select
          name="atendentes[]"
          id="atendentes"
          formControlName="atendente"
          [(ngModel)]="atendenteSelecionado"
        >
          <option selected value="-1">>Selecione></option>
          <option
            *ngFor="let atendente of listaAtendentes"
            [value]="atendente.id"
          >
            {{ atendente.nome }}
          </option>
        </select>
      </div>
    </div>

    <div class="input-box">
      <div class="parametros-selecao-caixa">
        <label for="medicoAtendente">Médico Atendente:</label>
        <select
          name="medicoAtendente"
          id="medicoAtendente"
          formControlName="medicoAtendente"
          [(ngModel)]="medicoSelecionado"
        >
          <option value="">>Selecione></option>
          <option *ngFor="let medico of listaMedicos" [value]="medico?.id">
            {{ medico.nome }}
          </option>
        </select>
      </div>
    </div>

    <div class="input-box">
      <label for="observacaoExame">Observação:</label>
      <input
        type="text"
        id="observacaoExame"
        formControlName="observacaoExame"
      />
    </div>

    <div class="cadastrar-box">
      <button type="submit">Cadastrar</button>
    </div>
  </form>
</div>

<div>{{ formularioDeExame.value | json }}</div>
<div>{{ formularioDeExame.valid | json }}</div>
