table {
  width: 80%;
}



// td, th {
//   width: 25%;
// }


// .parent-container {
//   display: flex;
//   justify-content: center;
// }

.container {
  width: 100%;
}

a {
  text-decoration: none;
}

// remove a palavra current do ngb-pagination
:host ::ng-deep .pagination > li.page-item.active > a.page-link > span {
  display: none;
}




