<div #ParaImprimir class="container">


  <div class="parametros-selecao">
    <h6 class="titulo">Para filtrar informe:</h6>
    <div class="parametros-selecao-caixa">
      <label for="codigoExame">Código do Exame:</label>
      <input name="codigoExame" type="text" [(ngModel)]="codigoExame" placeholder="Código...">

    </div>

      <div class="parametros-selecao-caixa">
        <label for="medicos">Médico:</label>
        <select name="medicos[]" id="medicos" [(ngModel)]="medicoSelecionado">
          <option selected value="">Todos</option>
          <option *ngFor="let medico of listaMedicos" [value]="medico.id">
            {{ medico.nome }}
          </option>
        </select>
      </div>

      <div class="parametros-selecao-caixa">
        <label for="local">Local:</label>
        <select name="locais[]" id="locais" [(ngModel)]="localSelecionado">
          <option value="">Selecionar</option> <!-- Opção padrão -->
          <option *ngFor="let local of listaLocais" [value]="local.id">
            {{ local.nomeLocal }}
          </option>
        </select>
      </div>


      <div class="parametros-selecao-caixa">
        <label for="medicos">Atendente:</label>
        <select name="atendentes[]" id="atendentes" [(ngModel)]="atendenteSelecionado">
          <option selected value="-1">Todos</option>
          <option *ngFor="let atendente of listaAtendentes" [value]="atendente.id">
            {{ atendente.nome }}
          </option>
        </select>
      </div>

      <div class="parametros-selecao-caixa">
        <label for="medicos">RG do paciente:</label>
        <input
        type="text"
        name="RGPaciente"
        mask="000.000.000-00"
        [(ngModel)]="pacienteRG"
        placeholder="Rg..."
        >
      </div>



      <div class="parametros-selecao-caixa">
        <label for="isAtivo">Situação:</label>
        <select
          name="isAtivo"
          id="isAtivo"
          [(ngModel)]="situacaoExameSelecionado"
        >
          <option selected value="">Todos</option>
          <option value="true">Ativo</option>
          <option value="false">Inativo</option>
        </select>
      </div>
  </div>

  <button class="botao-pesquisar btn btn-success" (click)="listarExames(0)">Pesquisar</button>

  <h1 class="titulo">Todos os Exames</h1>

  <button class="btn btn-info" (click)="printTable()" >Imprimir</button>



  <table #content class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Exame</th>
        <th scope="col">Paciente</th>
        <th scope="col">data Exame</th>
        <th scope="col">Cancelar</th>
        <th scope="col">Ativar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exame of exames">
        <th scope="row">{{ exame.id }}</th>
        <td><a [routerLink]="['/detalhes-exame', exame?.codigo]">{{ exame.nomeExame }}</a></td>
        <td>{{ exame.paciente?.nome }}</td>
        <td>{{ exame.dataExame | date : "dd/MM/yyyy" }}</td>
        <td><button class="btn btn-danger" (click)="cancelarExame(exame?.codigo)">Cancelar</button></td>
        <td *ngIf="!exame?.isAtivo" ><button class="btn btn-warning" (click)="ativarExame(exame?.codigo)">Ativar</button></td>
      </tr>
    </tbody>
  </table>

  <div>
    <ngb-pagination
  [collectionSize]="totalItems"
  [(page)]="currentPage"
  [pageSize]="itemsPerPage"
  (pageChange)="pageChanged($event)">
</ngb-pagination>
  </div>
</div>
