table {
  width: 80%;
}

.titulo {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 2rem;
  font-size: large;
}

// td, th {
//   width: 25%;
// }


.parametros-selecao {
  display: flex; /* Torna os elementos filhos em linha */
  justify-content: left;
  align-items: center; /* Alinha os elementos verticalmente ao centro */
  padding-top: 3rem;
  margin: 1rem;
  border: 1px solid #e0e0e0; /* Adicionar contorno com 2px de largura e cor preta */
  border-radius: 10px; /* Isso adiciona cantos arredondados */
  padding: 10px; /* Espaçamento interno */
}

.parametros-selecao-caixa {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  align-items: center;

  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px; /* Isso adiciona cantos arredondados */
}

.botao-pesquisar {
  display:block;
  margin: 2rem;
}

.minha-div {

  width: 300px; /* Largura da div */
  height: 200px; /* Altura da div */

  padding: 10px; /* Espaçamento interno */
}


.parametros-selecao-caixa select {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

// remove a palavra current do ngb-pagination
:host ::ng-deep .pagination > li.page-item.active > a.page-link > span {
  display: none;
}

/* Para telas de celular */
@media (max-width: 768px) {
  .parametros-selecao {
    flex-direction: column;
    align-items: center;
  }

  .parametros-selecao-caixa {
    width: 100%;
    margin-right: 0;
  }
}





