<div class="linha">
  <div class="input-box">
    <label for="exame">Exame:</label>
    <input type="text" id="exame" formControlName="exame" />
  </div>
  <div class="input-box">
    <label for="valorExame">Valor do Exame:</label>
    <input type="text" id="valorExame" formControlName="valorExame" />
  </div>
</div>

<div class="linha">
  <div class="input-box">
    <label for="local">Local:</label>
    <input type="text" id="local" formControlName="local" />
  </div>
  <div class="input-box">
    <label for="indicacao">Indicação:</label>
    <input type="text" id="indicacao" formControlName="indicacao" />
  </div>
</div>

<div class="input-box">
  <label for="atendente">Atendente:</label>
  <input type="text" id="atendente" formControlName="atendente" />
</div>

<div class="input-box">
  <label for="medicoAtendente">Médico Atendente:</label>
  <input type="text" id="medicoAtendente" formControlName="medicoAtendente" />
</div>
<div class="input-box">
  <label for="observacaoExame">Observação:</label>
  <input type="text" id="observacaoExame" formControlName="observacaoExame" />
</div>
