<div class="container">
  <h1 class="titulo">Detalhes Exame</h1>

  <button (click)="gerarPDF()" >Imprimir</button>

  <form
    class="formulario"
    [formGroup]="formularioDeExame"
    (keydown)="onKeyDown($event)"
    (ngSubmit)="atualizarExame()"
  >
    <div class="linha">
      <div class="input-box">
        <label for="exame">Exame:</label>
        <input #nomeExame type="text" id="exame" formControlName="exame" />
      </div>
      <div class="input-box">
        <label for="valorExame">Valor do Exame:</label>
        <input #valorExame type="text" id="valorExame" formControlName="valorExame" />
      </div>
    </div>

    <div class="linha">
      <div class="input-box">
        <div class="parametros-selecao-caixa">
          <label for="localExame">Local:</label>
          <input
            name="localExame"
            id="localExame"
            formControlName="localExame"
            [(ngModel)]="localExame"
          />
        </div>
      </div>
    </div>


    <div class="input-box">
      <label for="paciente">Paciente:</label>
      <input
      #observacaoExame
        type="text"
        id="paciente"
        formControlName="paciente"
        [(ngModel)]="pacienteExame"
      />
    </div>

    <div class="input-box">
      <div class="parametros-selecao-caixa">
        <label for="atendente">Atendente:</label>
        <input
          name="atendente"
          id="atendente"
          formControlName="atendenteExame"
          [(ngModel)]="atendenteExame"
        />
      </div>
    </div>

    <div class="input-box">
      <div class="parametros-selecao-caixa">
        <label for="medico">Médico Atendente:</label>
        <input
          name="medico"
          id="medico"
          formControlName="medicoExame"
          [(ngModel)]="medicoExame"
        />

      </div>
    </div>

    <div class="input-box">
      <label for="observacaoExame">Observação:</label>
      <input
      #observacaoExame
        type="text"
        id="observacaoExame"
        formControlName="observacaoExame"
      />
    </div>

    <div class="cadastrar-box">
      <button type="submit">Cadastrar</button>
    </div>
  </form>
</div>

<!-- <div>{{ formularioDeExame.value | json }}</div>
<div>{{ formularioDeExame.valid | json }}</div> -->
