
<nav>
  <ul>
    <li><a routerLink="/pacientes/cadastrar">Cadastrar Paciente</a></li>
    <li><a routerLink="/pacientes/listar">Listar Pacientes</a></li>
    <li><a routerLink="/exames/cadastrar">Cadastrar Exames</a></li>
    <li><a routerLink="/exames/listar">Listar Exames</a></li>
    <li><a routerLink="/atendentes">Atendentes</a></li>
    <li><a routerLink="/medicos">Medicos</a></li>
    <li><a routerLink="/locais">Locais</a></li>
    <!-- <li>Exames Agendados Para Hoje: {{totalItems}}</li> -->
    <li><a >Exames Agendados Para Hoje: {{totalItems}}</a></li>
  </ul>
</nav>

